<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/menu/keyword'"></ion-back-button>
    </ion-buttons>
    <ion-title>Add keyword</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header no-border style="padding-top:30px;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-buttons>
      <span style="margin-left:32%">Add Keyword</span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid  class="grid-segment">
      <ion-row>
        <ion-col>
          <ion-segment color="secondary" scrollable="true" (ionChange)="segmentChanged($event)">
            <ion-segment-button class="grid-segment-button-step" [checked]="stepper.stepOne" value="stepOne">
              <ion-label>step 1</ion-label>
            </ion-segment-button>
            <ion-segment-button class="grid-segment-button-step" value="stepTwo" [checked]="stepper.stepTwo" [disabled]="form.controls.keyword.invalid">
              <ion-label>step 2</ion-label>
            </ion-segment-button>
            <ion-segment-button class="grid-segment-button-step" value="stepThree" [checked]="stepper.stepThree"
              [disabled]="form.controls.keyword.invalid">
              <ion-label>step 3</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Stepper-one -->
    <ion-grid *ngIf="stepper.stepOne">
      <ion-row class="stepper-one">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Keyword Name</ion-label>
            <ion-input class="stepper-input"  formControlName='keyword'>
            </ion-input>
          </ion-item>
          <ion-note class="stepper-note" *ngIf="form.get('keyword').errors?.keywordExists" color="danger">keyword not
            available</ion-note>
            <ion-note class="stepper-note" *ngIf="form.get('keyword').errors?.minlength" color="danger">Min Character There</ion-note>
            <ion-note class="stepper-note" *ngIf="form.get('keyword').errors?.pattern" color="danger">Special Character are not allow</ion-note>
        </ion-col>
      </ion-row>

      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button [disabled]="form.controls.keyword.invalid" (click)="next(step.stepTwo)" shape="round" slot="end"
            color="primary" size="small">
            <ion-note>Next</ion-note>
            <ion-icon name="fastforward" slot="end"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <app-step-detail [title]="'Step One'" [description]="'Description'"></app-step-detail>
    </ion-grid>

    <!-- Stepper-two -->
    <ion-grid *ngIf="stepper.stepTwo">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Privacy : </ion-label>
            <ion-text slot="end">Private</ion-text>
            <ion-toggle color="success" formControlName='privacy' slot="end"></ion-toggle>
            <ion-text slot="end">Public</ion-text>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Keyword Description</ion-label>
            <ion-textarea formControlName='description'></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="next(step.stepOne)" shape="round" slot="start" color="primary" size="small">
              <ion-note>Previous</ion-note>
              <ion-icon name="rewind" slot="start"></ion-icon>
          </ion-button>
          <ion-button (click)="next(step.stepThree)" shape="round" slot="end" color="primary" size="small">
              <ion-note>Next</ion-note>
              <ion-icon name="fastforward" slot="end"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <app-step-detail [title]="'Step Two'" [description]="'Description'"></app-step-detail>
    </ion-grid>

    <!-- Stepper-three -->
    <ion-grid *ngIf="stepper.stepThree">
      <ion-row>
        <ion-col>
          <ion-toolbar class="custom-file">
            <ion-input class="custom-file-input" type="file" formControlName='file' (change)="onFileSelect($event)"></ion-input>
            <ion-label slot="start" class="custom-file-label">{{form.get('file').value ? form.get('file').value.name : 'Upload Document'}}</ion-label>
          </ion-toolbar>
        </ion-col>
      </ion-row>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="next(step.stepTwo)" shape="round" slot="end" color="primary" size="small">
              <ion-note>Previous</ion-note>
              <ion-icon name="rewind" slot="start"></ion-icon>
          </ion-button>
          <ion-button [disabled]="form.invalid" (click)="save()" shape="round" slot="end" color="primary" size="small">
            Done</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <app-step-detail [title]="'Step Three'" [description]="'Dyanic Details...'"></app-step-detail>
    </ion-grid>
  </form>
  <!-- <pre>
    {{this.form.value | json}}
  </pre> -->
</ion-content>