.social-login-label{
    margin-top: 26px;
}

.passwordIcon{
    font-size:1.5rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
    color: green;
    text-align: center;
    
 }