<ion-header no-border style="padding-top:30px;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-buttons >
        <span style="margin-left:32%">Sign UP</span>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="text-align:center;">It's Free and will always be!</p>
  <ion-grid>
    <form [formGroup]="form">
      <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName='email'></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Mobile Number</ion-label>
              <ion-input type="number" formControlName='mobile'></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10">
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input [type]="passwordType" formControlName='password' clearOnEdit="false"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="success" [disabled]='form.invalid' (click)="onSubmit()">
              SignUp
            </ion-button>
          </ion-col>
        </ion-row>
    </form>
  </ion-grid>
  <ion-grid>
      <ion-row>
          <ion-col size="12" class="align-center social-login-label" size-sm>
            Social Login?
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="6" class="align-center" size-sm>
              <ion-button expand="block" color="danger">
                  Google
              </ion-button>
        </ion-col>
        <ion-col size="6" class="align-center" size-sm>
            <ion-button expand="block" color="primary">
                Facebook
            </ion-button>
      </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>