.top-panel{
    height: 300px;
    padding-top:25px;
    text-align: -webkit-center;
    // background-image: url('dashboard-bg.jpg');
    color:#00A650;
    box-shadow: 3px 7px 20px 0px #888888;
}

.keyword-input{
    width: 94%;
    height: 44px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20x;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-top: 30px;
}

.dashboard-mid-panel-label{
    padding-top:30px;
    font-size:16px;
    text-align:-webkit-center;
}

.label-your-keywords{
    display: block;
    padding-bottom: 0px;
    padding-top: 10px;
}

.dw{
    --background: rgba(76,185,196,1);
}

.with-bg{
    // --background: url('dashboard-bg.jpg');
}

.keyword-box{
    margin-top: 5px;
}

.dashboard-button{
    width:46%;
    height:40px;
}

.buttons-container{
    text-align: center;
    margin-bottom: 30px;
}