<ion-content>
  <ion-row>
    <ion-col size="12" class="top-panel">
      <h2>Green<span style="color:#696868;">App</span></h2>
      <ion-input class="keyword-input" color="none" inputmode="text" name="keyword" minlength="3" placeholder="Enter Keyword" autocapitalize="true"></ion-input>
      <ion-button size="large" style="width: 40%;height: 18%;" color="warning">Send</ion-button>
      <ion-button size="large" style="width: 40%;height: 18%;" color="warning">Receive</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="dashboard-mid-panel-label">
    <ion-col>
      <span class="label-your-keywords">Your Keywords</span>
      <br />
      <app-keywords-list [keywords]="keywords"></app-keywords-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <ion-button expand="block" class="dw">Add New Keyword</ion-button>
    </ion-col>
  </ion-row>
</ion-content>