<ion-row>
  <ion-col>
    <ion-list>
      <ion-item-sliding #slider id="item100" *ngFor="let keyword of keywords">
        <ion-item lines="full" button="true" type="button" (click)="swipeSlider(slider)">
          <ion-label>
            <h2 style="font-size:26px;color:rgb(19, 197, 153);">{{keyword.name}}</h2>
            <!-- <small>Oceanic Next has joined your network how to see that i will come</small> -->
          </ion-label>
          <ion-icon size="large" name="disc" color="danger" slot="end"></ion-icon>
        </ion-item>
        <ion-item-options side="end" style="padding-top: 8px;">
          <table>
            <tr>
              <td>
                  <ion-chip (click)="hello()" outline="false" color="success">
                    <ion-label>Send</ion-label>
                  </ion-chip>
              </td>
              <td>
                  <ion-chip outline="false" color="success">
                    <ion-label>Receive</ion-label>
                  </ion-chip>
              </td>
              <td>
                  <ion-chip outline="false" color="success">
                    <ion-label>Edit</ion-label>
                  </ion-chip>
              </td>
              <td>
                  <ion-chip outline="false" color="success">
                    <ion-label>Delete</ion-label>
                  </ion-chip>
              </td>
            </tr>
          </table>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
  </ion-col>
</ion-row>