<ion-row>
  <ion-col>
    <ion-list>
      <ion-item-sliding #slider id="item100" *ngFor="let keyword of keywords">
        <ion-item button="true" type="button" (click)="swipeSlider(slider)">
          <ion-label>
            <h2>{{keyword.name}}</h2>
            <small>Oceanic Next has joined your network how to see that i will come</small>
          </ion-label>
          <ion-icon size="large" name="more" slot="end"></ion-icon>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="medium" type="button" (click)="send(slider,keyword)">
            <ion-icon size="large" slot="icon-only" name="send"></ion-icon>
          </ion-item-option>

          <ion-item-option color="medium" type="button" (click)="receive(slider,keyword)">
            <ion-icon size="large" slot="icon-only" name="jet"></ion-icon>
          </ion-item-option>

          <ion-item-option color="medium" type="button" (click)="edit(slider,keyword)">
            <ion-icon size="large" slot="icon-only" name="create"></ion-icon>
          </ion-item-option>

          <ion-item-option color="medium" type="button" (click)="delete(slider,keyword)">
            <ion-icon size="large" slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>

        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
  </ion-col>
</ion-row>